services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - "9870:9870"
    environment:
      - CLUSTER_NAME=test
    volumes:
      - namenode_data:/hadoop/dfs/name

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - NAMENODE_URI=hdfs://namenode:9000
    ports:
      - "9864:9864"
    depends_on:
      - namenode
    volumes:
      - datanode_data:/hadoop/dfs/data

  spark:
    image: apache/spark:3.5.0
    container_name: spark
    command: sleep infinity 
    
    environment:
      - SPARK_MASTER_HOST=spark
      - SPARK_MODE=master
    ports:
      - "8080:8080"
    depends_on:
      - namenode
      - datanode
    volumes:
      - ./scripts:/scripts                     
      - ./datasets:/datasets                   
      - ./results:/results  
  minio:
    image: minio/minio
    container_name: minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
      - ./datasets:/export 

  hive-server:
    image: bde2020/hive:2.3.2-postgresql-metastore
    container_name: hive-server
    environment:
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionURL=jdbc:postgresql://hive-metastore:5432/metastore
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionDriverName=org.postgresql.Driver
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionUserName=hive
      - HIVE_CORE_CONF_javax_jdo_option_ConnectionPassword=hive
      - HIVE_SITE_CONF_fs_defaultFS=hdfs://namenode:9000
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - HDFS_CONF_dfs_namenode_rpc-address=namenode:9000
      - HDFS_CONF_dfs_namenode_servicerpc-address=namenode:9000
      - HDFS_CONF_dfs_client_use_datanode_hostname=true
    ports:
      - "10000:10000"
    depends_on:
      - namenode
      - datanode
      - hive-metastore
    networks:
      - hadoop 
      
  hive-metastore:
    image: bde2020/hive-metastore-postgresql:2.3.0
    container_name: hive-metastore

volumes:
  namenode_data:
  datanode_data:
  minio_data:
